@import 'mixins';
@import 'variables';

.form {
  border-radius: $border-radius;
  background: $neutral-lighter;
}

.form-panel {
  transition: all $animation-duration $animation-easing;

  margin: 0 auto;
  border: 0;
  width: 100%;
  max-width: $sm-min / 2;
  padding: 0;

  &[disabled] {
    @include filter(grayscale(100%));
  }

  &.xs { max-width: $xs-min / 2; }
  &.sm { max-width: $sm-min / 2; }
  &.md { max-width: $md-min / 2; }
  &.lg { max-width: $lg-min / 2; }
  &.xl { max-width: $xl-min / 2; }
}

.form-input {
  margin-bottom: 8px;
  border: 0;
  border-bottom: 2px solid $primary;
  border-radius: $border-radius;
  padding: 9px;
  width: 100%;
  font-family: $font-family;
  font-size: $font-size;
}

.form-button {
  border: 0;
  border-radius: $border-radius;
  background: $primary;
  padding: 8px 12px;
  width: 50%;
  color: $neutral-lighter;
}
